<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />

    <title>@ViewBag.Title</title>

    <!-- Bootstrap CSS -->
    <link href="@Url.Content("~/Content/Bootstrap/3.3.1/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <!-- Common Kendo UI CSS -->
    <link href="@Url.Content("~/Content/KendoUI/2014.3.1119/styles/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <!-- Default Kendo UI theme CSS -->
    <link href="@Url.Content("~/Content/KendoUI/2014.3.1119/styles/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <!-- (optional) Kendo UI DataViz CSS, include only if you will use the data visualisation features -->
    <link href="@Url.Content("~/Content/KendoUI/2014.3.1119/styles/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />

    <!-- (optional) Kendo UI Mobile CSS, include only if you will use the mobile devices features -->
    <link href="@Url.Content("~/Content/KendoUI/2014.3.1119/styles/kendo.default.mobile.min.css")" rel="stylesheet" type="text/css" />

    <!-- Kendo UI & Bootstrap Compatible CSS  -->
    @*<link href="@Url.Content("~/Content/Styles/kendo-bootstrap-compatible.css")" rel="stylesheet" type="text/css" />*@

    <!-- Site CSS -->
    <link href="@Url.Content("~/Content/Styles/site.css")" rel="stylesheet" type="text/css" />

    <!-- Page Styles Put Here -->
    @RenderSection("Style", false)

    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="@Url.Content("~/Content/Bootstrap/3.3.1/js/html5shiv.min.js")"></script>
      <script src="@Url.Content("~/Content/Bootstrap/3.3.1/js/respond.min.js")"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    @*<img alt="微名堂" height="25" src="@Url.Content("~/Content/Images/brand.png")" />*@
                    微名堂 - 有点意思
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @RenderSection("TopNav", true)
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                @RenderSection("SideNav", true)
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- jQuery JavaScript -->
    <script src="@Url.Content("~/Content/KendoUI/2014.3.1119/js/jquery.min.js")"></script>

    <!-- Kendo UI combined JavaScript -->
    <script src="@Url.Content("~/Content/KendoUI/2014.3.1119/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Content/KendoUI/2014.3.1119/js/messages/kendo.messages.zh-CN.min.js")"></script>

    <!-- Bootstrap Javascript -->
    <script src="@Url.Content("~/Content/Bootstrap/3.3.1/js/bootstrap.min.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.linq.min.js")"></script>
    <script src="@Url.Content("~/Scripts/wind-all-min-0.7.3.js")"></script>

    <!-- Page Scripts Put Here -->
    @RenderSection("script", false)
</body>
</html>
