@model DataAccess.Models.VendorUser

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>车名堂 &middot; 商户入口</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="data:text/css;charset=utf-8," data-href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">

    <link href="http://v3.bootcss.com/assets/css/docs.min.css" rel="stylesheet">
    <script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
    <script>
        var _hmt = _hmt || [];
    </script>
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">车名堂</a>
            </div>
        </div>
    </header>

    <div class="bs-docs-header" id="content">
        <div class="container">
            <h1>车名堂</h1>
            <p>商户入口</p>
        </div>
    </div>

    <div class="container body-content">
        <div class="row text-center">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-offset-3 col-lg-6">
                    <h4 class="field-validation-error">@ViewBag.Tip</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group form-group-lg">
                        <div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-large", @placeholder = "输入用户名" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group form-group-lg">
                        <div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-large", @type = "password", @placeholder = "输入密码" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="&nbsp;&nbsp;登&nbsp;&nbsp;录&nbsp;&nbsp;" class="btn btn-primary btn-lg" />
                            <a href="#">联系我们 - 登记注册</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    </div>

    <footer class="bs-docs-footer" role="contentinfo">
        <div class="container">
            <p>Copyright &copy; 2014 vmingtang. All Rights Reserved.</p>
            <ul class="bs-docs-footer-links muted">
                <li>当前版本： v0.0.1</li>
                <li>&middot;</li>
                <li><a href="http://www.vmingtang.com">官方网站</a></li>
            </ul>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    =============================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://v3.bootcss.com/assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
