@model DataAccess.Models.VendorOrder
@{
    ViewBag.Title = "国宾汽车养护中心·快速交易";
}
<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>@ViewBag.Title</h1>
        <p> <mark>登记</mark> - 项目 - 结算 - 完成</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="text-center">
                    <div class="form-group form-group-lg">
                        <div>
                            @Html.EditorFor(model => model.CustomerCellphone, new { htmlAttributes = new { @class = "form-control", @placeholder = "输入顾客手机号" } })
                            @Html.ValidationMessageFor(model => model.CustomerCellphone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group form-group-lg">
                        <div>
                            @Html.EditorFor(model => model.CustomCarNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "输入车牌" } })
                            @Html.ValidationMessageFor(model => model.CustomCarNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <input type="submit" value="新单登记 - 下一步" class="btn btn-primary btn-lg" />
                        </div>
                    </div>

                </div>
            }
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
        <br />
        <h2>挂起订单<small>尚未完成订单</small></h2>
        <br />
    </div>
    <div class="row">
        <dl class="col-md-4">
            <dt>订单号</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;E023184CVTGUE8KW</dd>

            <dt>顾客</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;13802312332 赣A12312 </dd>
            <dt>状态</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">前往结算</a></dd>
            <dt>登记时间</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;下午15:03</dd>
        </dl>
        <dl class="col-md-4">
            <dt>订单号</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;E023184CVTGUE8KW</dd>

            <dt>顾客</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;13802312332 赣A12312 </dd>
            <dt>状态</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">前往选择服务项</a></dd>
            <dt>登记时间</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;下午15:03</dd>
        </dl>
        <dl class="col-md-4">
            <dt>订单号</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;E023184CVTGUE8KW</dd>

            <dt>顾客</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;13802312332 赣A12312 </dd>
            <dt>状态</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">前往结算</a></dd>
            <dt>登记时间</dt>
            <dd>&nbsp;&nbsp;&nbsp;&nbsp;下午15:03</dd>
        </dl>
    </div>


</div>