@model DataAccess.Models.VendorOrder

<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>车名堂 - 快速交易</h1>
        <p> 登记 - <mark>项目</mark> - 结算 - 完成</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br />
            <div class="text-center">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @*<div class="row">

                        <div class="form-group form-group-lg">
                            <div>
                                @Html.EditorFor(model => model.CustomerCellphone, new { htmlAttributes = new { @class = "form-control col-xs-8", @placeholder = "项目名称首字母/编码" } })
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <div>
                                @Html.EditorFor(model => model.CustomerCellphone, new { htmlAttributes = new { @class = "form-control", @placeholder = "数量(默认1)" } })
                            </div>
                        </div>

                        <div class="form-group form-group-lg">
                            <input type="submit" value=" + " class="btn btn-default btn-lg" />
                        </div>
                    </div>*@
                    <div class="row">
                        <div class="col-xs-8">
                            @Html.EditorFor(model => model.CustomerCellphone, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "项目名称首字母/编码" } })
                        </div>
                        <div class="col-xs-3">
                            @Html.EditorFor(model => model.CustomerCellphone, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "数量(默认1)" } })
                        </div>
                        <div class="col-xs-1">
                            <input type="submit" value=" + " class="btn btn-default btn-lg" />
                        </div>
                    </div>
                }
            </div>
            <br />
            <br>
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>名称</th>
                            <th>类型</th>
                            <th>数量</th>
                            <th>单位</th>
                            <th>单价</th>
                            <th>小计</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>车辆精洗</td>
                            <td>服务</td>
                            <td>1</td>
                            <td>次</td>
                            <td>25.00</td>
                            <td>25.00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>#3修复剂</td>
                            <td>配件</td>
                            <td>0.25</td>
                            <td>瓶</td>
                            <td>80.00</td>
                            <td>20.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row text-center">
                <a href="@Url.Action("TranPay", "Home")" class="btn btn-primary btn-lg" role="button">确认项目 - 下一步</a>
            </div>
        </div>
        <div class="col-md-1">
        </div>
            <div class="col-md-3">
                <dl>
                    <dt>订单号</dt>
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;E023184CVTGUE8KW</dd>

                    <dt>顾客</dt>
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;13802312332 赣A12312 </dd>
                    <dt>登记时间</dt>
                    <dd>&nbsp;&nbsp;&nbsp;&nbsp;下午16:12</dd>
                </dl>

            </div>
        </div>
</div>